html{
    background-color : rgb(53,53,53);
}
.top{
    text-align: center;
    font-family: 'Tangerine'; font-size: 72px; color: whitesmoke;
    padding: 20px;
}
h3{
font-family: 'Unica One'; font-size: 26px;
}
.watch_container{
    width: 540;
    height: 200;
    background-color: #1A1818;
    border-style: solid;
    border-color: #FDEFA6;
    border-width: 2px;
    border-radius: 13px;
    margin-bottom: 15px;
    margin:50px;
}
.text{
    color:whitesmoke;
    font-family: 'Unica One'; font-size: 26px;
    margin: 16px
}
.watch_description{
    font-family: 'Times New Roman', Times, serif; font-size:12;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    font-family: 'Dosis'; font-size: 16px; color: whitesmoke;

}
.picture{
    margin: 10px;
    max-height: 200px;
    width: 150px;
    float:left;
    padding-top:16px
}

footer{
    margin-top:25px;
    margin-bottom:25px;
    font-family: 'Dosis'; font-size: 30px; color: whitesmoke;
    text-align: center;
    
}
.pic{
    height: 400px
}